@media (min-width: 700px) {
  .calender {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .calender {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .calender {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1750px) {
  .calender {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
